.card-content-middle {
  height: 200px;
  position: relative;
}

.card-content-bottom {
  display: flex;
  flex-flow: column;
}

.control-title {
  color: #424242;
  font-size: 16px;
  padding-top: 8px;
}

.card-content-columns {
  display: flex;
  
}

.card-fullscreen-icon {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.card-fullscreen-icon iron-icon {
  height: 25px;
  width:  25px;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.browser text {
  text-anchor: end;
}


.sf-chart-container {
  font: 10px sans-serif;
  width: 100%;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
