<template name="socialFactorsCard">
  <paper-material class="card-content">
    <div class="chart-content">
      <div class="card-content-top">
        <div class="card-content-top-text">
          <div class="card-title">
            <div class="card-title-text">
              Social Factors
            </div>
            <iron-icon icon="icons:info"></iron-icon>
          </div>
          <div class="card-subtitle">
            Weak Influence
          </div>
        </div>
      </div>
      <div class="card-settings-icon">
        <iron-icon class="settings-icon" icon="icons:settings"></iron-icon>
        <paper-toggle-button class="" checked></paper-toggle-button>
      </div>
      <!-- Middle Content -->
      <div class="card-content-middle">
        <div style="display:block;">
          <div id="pie-title" class="pie-title">Nationality</div>
<canvas id="socialChart" width="200" height="140"></canvas>

<div class="horizontal-section">
          <paper-radio-group class="showPieSocial" selected="nationality">
            <paper-radio-button   class="gender radio1" name="gender"></paper-radio-button>
            <paper-radio-button  class="nationality radio2" name="nationality"></paper-radio-button>
            <paper-radio-button  class="residence radio3" name="residence"></paper-radio-button>
            <paper-radio-button  class="marital radio4" name="marital"></paper-radio-button>
            <paper-radio-button  class="disability radio5" name="disability"></paper-radio-button>
          </paper-radio-group>
        </div>
</div>

      </div>
      <!-- Bottom Content -->
      <div class="card-content-bottom">
        <div class="card-content-control0">
          <div class="control-title">Students</div>
          <div class="card-content-columns">


<div class="horizontal-section" style="flex-direction: row;">                 
                 
              <div>
                  
                  <paper-checkbox id="gender" class="check1 checkSocial" checked > 
                    <div class="label-checkbox-courses" >Gender</div>
                  </paper-checkbox>
                  <paper-checkbox id="nationality" class="check2 checkSocial" checked > 
                    <div class="label-checkbox-courses" >Nationality</div>
                  </paper-checkbox>
                   
                </div>

                 <div>
                  
                  <paper-checkbox id="residence" class="check3 checkSocial" checked > 
                    <div class="label-checkbox-courses" >Residence</div>
                  </paper-checkbox>
                  <paper-checkbox id="marital" class="check4 checkSocial" checked > 
                    <div class="label-checkbox-courses" >Marital Status</div>
                  </paper-checkbox>
                   
                </div>

       <div>
                  
                  <paper-checkbox id="disability" class="check5 checkSocial" checked > 
                    <div class="label-checkbox-courses" >Disability</div>
                  </paper-checkbox>
                 
                   
                </div>

                          
      
        </div>

          
          </div>
        </div>
        <div class="card-content-control1">
          <div class="control-title">Compliance</div>
          <paper-slider pin value="20"></paper-slider>
        </div>
        <div class="card-fullscreen-icon">
          <iron-icon icon="icons:fullscreen"></iron-icon>
        </div>
      </div>
    </div>
  </paper-material>
</template>
