<template name="socialFactorsCard">
  <paper-material class="card-content">
    <div class="chart-content">
      <div class="card-content-top">
        <div class="card-content-top-text">
          <div class="card-title">
            <div class="card-title-text">
              Social Factors
            </div>
            <iron-icon icon="icons:info"></iron-icon>
          </div>
          <div class="card-subtitle">
            Weak Influence
          </div>
        </div>
      </div>
      <div class="card-settings-icon">
        <iron-icon class="settings-icon" icon="icons:settings"></iron-icon>
        <paper-toggle-button class="" checked></paper-toggle-button>
      </div>
      <!-- Middle Content -->
      <div class="card-content-middle">
       
         <div class="sof-chart-container">


<div id="chart2">
</div>






</div>          

      </div>
      <!-- Bottom Content -->
      <div class="card-content-bottom">
        <div class="card-content-control0">
          <div class="card-content-columns">


<div class="horizontal-section" style="flex-direction: row;">                 
                 
              
                  
                  <paper-checkbox id="gender" class="paper-check-box-sof check1 checkSocial" checked > 
                    <div class="label-checkbox-courses" >Gender</div>
                  </paper-checkbox>
                  <paper-checkbox id="nationality" class=" paper-check-box-sof check2 checkSocial" checked > 
                    <div class="label-checkbox-courses" >Nationality</div>
                  </paper-checkbox>
                   
              
                  
                  <paper-checkbox id="residence" class="paper-check-box-sof check3 checkSocial" checked > 
                    <div class="label-checkbox-courses" >Residence</div>
                  </paper-checkbox>
                  <paper-checkbox id="marital" class="paper-check-box-sof check4 checkSocial" checked > 
                    <div class="label-checkbox-courses" >Marital Status</div>
                  </paper-checkbox>
                   
               

                          
      
        </div>

          
          </div>
        </div>
        <div class="card-content-control1">
          <div class="control-title">Compliance</div>
          <paper-slider pin value="20"></paper-slider>
        </div>
        <div class="card-fullscreen-icon">
          <iron-icon icon="icons:fullscreen"></iron-icon>
        </div>
      </div>
    </div>
  </paper-material>
</template>
