
.card-title {
  display: flex;
  font-size: 28px;
  color: #424242;
}

.card-title-text {
  margin-right: 5px;
}

.card-subtitle {
  font-size: 18px;
  color: #424242;
  opacity: 0.6;
}


.horizontal-section {
  min-width: 200px;
}
    
paper-radio-button {
	display: inline-block;
	min-width:100px;
	max-width:200px;
	font-size: 13px !important;
}

paper-radio-group >*{
	padding: 4px;
}

#myChart{
	margin-top: -25px;
}