<template name="courseFactorsCard">
  <paper-material class="card-content">
    <div class="chart-content">
      <div class="card-content-top">
        <div class="card-content-top-text">
          <div class="card-title">
            <div class="card-title-text">
              Course Factors
            </div>
            <iron-icon icon="icons:info"></iron-icon>
          </div>
          <div class="card-subtitle">
            Weak Influence
          </div>
        </div>
      </div>
      <div class="card-settings-icon">
        <iron-icon class="settings-icon" icon="icons:settings"></iron-icon>
        <paper-toggle-button checked></paper-toggle-button>
      </div>
      <!-- Middle Content -->
      <div class="card-content-middle">

<canvas id="myChart" width="340" height="250"></canvas>

      </div>
      <!-- Bottom Content -->
      <div class="card-content-bottom">
        <div class="card-content-control0">
          <div class="control-title">Courses</div>
          <div class="card-content-columns">

<div class="horizontal-section">
          <paper-radio-group selected="c">
            <paper-radio-button name="uno" class="radio1">Curso1</paper-radio-button>
            <paper-radio-button name="c" class="radio2">Curso2</paper-radio-button>
            <paper-radio-button name="h" class="radio3">Curso3</paper-radio-button>
            <paper-radio-button name="n" class="radio4">Curso4</paper-radio-button>
            <paper-radio-button name="ca" class="radio5">Curso5</paper-radio-button>
            <paper-radio-button name="cb" class="radio6">Curso6</paper-radio-button>

          </paper-radio-group>
        </div>
            
          </div>
        </div>
        <div class="card-content-control1">
          <div class="control-title">Compliance</div>
          <paper-slider pin value="20"></paper-slider>
        </div>
        <div class="card-fullscreen-icon">
          <iron-icon icon="icons:fullscreen"></iron-icon>
        </div>
      </div>
    </div>
  </paper-material>
</template>
