<template name="courseFactorsCard">
  <paper-material class="card-content">
    <div class="chart-content">
      <div class="card-content-top">
        <div class="card-content-top-text">
          <div class="card-title">
            <div class="card-title-text">
              Course Factors
            </div>
            <iron-icon icon="icons:info"></iron-icon>
          </div>
          <div class="card-subtitle">
            Weak Influence
          </div>
        </div>
      </div>
      <div class="card-settings-icon">
        <iron-icon class="settings-icon" icon="icons:settings"></iron-icon>
        <paper-toggle-button checked></paper-toggle-button>
      </div>
      <!-- Middle Content -->
      <div class="card-content-middle">

<canvas id="myChart" width="340" height="250"></canvas>

      </div>
      <!-- Bottom Content -->
      <div class="card-content-bottom">
        <div class="card-content-control0">
          <div class="control-title">Courses</div>
          <div class="card-content-columns">

<div class="horizontal-section" style="flex-direction: row;">
      {{#if selectedCoursesFactor}}            
              {{#each sessionCourses}}
                 
              <div>
                  
                  <paper-checkbox id="courseFactor{{first.id}}" class="check{{first.order}} coursefactor" checked change="{{checkedIfChecked id=first.id }}"> 
                    <div class="label-checkbox-courses"  >{{{first.name}}}</div>
                  </paper-checkbox>
                   {{#if second}}    
                      <paper-checkbox id="courseFactor{{second.id}}" class="check{{second.order}} coursefactor" checked change="{{checkedIfChecked  id=second.id}}"> 
                      <div class="label-checkbox-courses"  >{{{second.name}}}</div>
                      </paper-checkbox>
                
                    {{/if}}
                </div>
              {{/each}}                   
      {{else}}
            No Selected Courses
      {{/if}}
        </div>
            
          </div>
        </div>
        <div class="card-content-control1">
          <div class="control-title">Compliance</div>
          <paper-slider pin value="20"></paper-slider>
        </div>
        <div class="card-fullscreen-icon">
          <iron-icon icon="icons:fullscreen"></iron-icon>
        </div>
      </div>
    </div>
  </paper-material>
</template>
